@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Open Sans", serif;
}

.password-reset-form {
    width: 100%;
    height: 100vh;

    display: flex;
}

.left-side, .right-side {
    position: relative;
    width: 50%;
}

.right-side {
    background-image: url("../../../../public/pwd-reset-car-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image-overlay {
    background-color: #004B88;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.59;
}

.right-side-content p {
    color: white;
    text-align: center;
    margin: 0 50px 0 50px;
}

.left-side {
    display: flex;
    align-items: center;
}

.right-side-content {
    width: 100%;
    height: 100%;
    position: absolute;

    align-items: center;
}

.left-side-content, .right-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left-side-content {
    margin: 50px;
    width: 100%;
}

.left-side-content h2 {
    color: #004B88;
}

.left-side-content input {
    width: 100%;
    margin: 10px 0 10px 0;
    height: 40px;
    border: 1px solid #edf0f7;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;

    border-radius: 0.45rem;
}

.left-side-content input:focus {
    border: 1px solid rgb(186, 195, 209);
    outline: none;
    box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
}

.left-side-content a {
    text-decoration: none;
    color: #2980B9;
    text-align: center;
}

.reset-button {
    margin: 15px 0 15px 0;
    height: 40px;
    background-color: #007BFF;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 600;
}

.left-side .image-overlay {
    display: none;
}

@media screen and (max-width: 790px){
    .right-side {
        display: none;
    }

    .left-side {
        width: 100%;
        justify-content: center;
        background-image: url("../../../../public/pwd-reset-car-background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left-side .image-overlay {
        display: block;
    }

    .left-side-content {
        z-index: 100;
        margin: 50px;
    }

    .left-side-content h2, .left-side-content a{
        color: #FFFFFF;
    }

    .password-reset-form {
        width: 100%;
    }

    .left-side p, .left-side .register-button {
        display: block;
    }

    .left-side-content input {
        width: 95%;
    }
}


@media screen and (max-width: 404px){
    .left-side-content {
        margin: 25px;
    }
}




