@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 300;
}

.gray-border {
    border: 1px solid #edf0f7;
    border-radius: 0.45rem;
}

.tag-field {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: min-content 1fr;
    gap: 10px 0;
    grid-template-areas:
    "TagInput TagAddButton"
    "TagContainer TagContainer";
    position: relative;
}

.tag-field .tag-container { grid-area: TagContainer; }
.tag-field .tag-add-button { grid-area: TagAddButton; }
.tag-field .tag-input {
    grid-area: TagInput;
    font-size: 1rem;
}


.tag-field .tag-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 120px;
}

.tag-field .tag {
    display: flex;
    align-items: center;

    width: fit-content;
    min-height: 30px;

    margin: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.3rem;

    background-color: #F1F4F8;

    color: #354052;

    border-radius: 3px;
}

.tag-field .tag p {
    margin-block-start: 9px;
    margin-block-end: 9px;
}

.tag-field .tag .tag-delete {
    grid-area: TagContainer;
    margin-left: 3px;
}

.tag-field .tag-input, .tag-field .tag-submit {
    margin: 0;
}

.tag-field .tag-input {
    color: #354052;
    padding: 9px 12px;

    transition: all 0.3s ease-in-out;
    border-radius: 0.45rem 0 0 0.45rem;
}

.tag-field .tag-input:focus{
    border: 1px solid rgb(186, 195, 209);
    outline: none;
    box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
}

.tag-field .tag-submit {
    background-color: transparent;
    border-radius: 0 0.45rem 0.45rem 0;
    cursor: pointer;
    border-left: none;
}

.tag-field .tag-delete {
    cursor: pointer;
}

/*---------- AUTOCOMPLETE ----------*/

.autocomplete-items {
    position: absolute;
    border: 1px solid #edf0f7;
    border-radius: 0.45rem;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 46px;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 5px;

    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 300;
}

.autocomplete-items div:hover, .autocomplete-active {
    background-color: #42B987 !important;
    color: #ffffff;
}

/*---------- !AUTOCOMPLETE ----------*/

