@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
    font-family: "Poppins", serif;
}

.account-settings {
    width: 100%;
    border: 1px solid #EBEBEB;
    position: relative;
}

.settings-menu {
    top: 0;
    /*border: 2px solid green;*/
    display: flex;
    flex-wrap: nowrap;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 100;
    padding-right: 1px;
}

.settings-option {
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    cursor: pointer;
}

.settings-option.active {
    background-color: #FFFFFF;
    border-bottom: none;
    border-right: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    color: #074B87;
}

.user-panel {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-large {
    width: 56rem;
    margin: 10px;
}

.container-medium {
    width: 23.4rem;
    margin: 10px;
}

.container-small {
    width: 23rem;
    margin: 10px;
}

.container-small, .container-medium, .container-large {
    min-height: 30rem;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 10px;
    position: relative;
}

.container-medium, .container-large {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container-small {
    padding: 30px 0 30px 0;
}

.text-black, .text-green, .income-summary {
    font-size: 19px;
    /*margin: auto 10px auto 10px;*/
    margin-left: 20px;
    margin-right: 20px;
}

.text-green, .settings-title {
    color: #42B987;
    font-weight: 600;
}

hr {
    border: 1px none #EAEAEA;
    border-top-style: solid;
}

.income-summary {
    font-size: 26px;
    text-align: center;
}

.settings-container {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 10px;
    height: fit-content;
    margin: 30px;
    padding: 15px 30px 30px 30px;
}

input, label {
    display:block;
    font-weight: 500;
}

.text-input {
    width: 98.5%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    border: 1px solid #edf0f7;
    border-radius: 0.45rem;
}

.text-input:focus {
    border: 1px solid rgb(186, 195, 209);
    outline: none;
    box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
}

#postal-code-pt1 {
    width: 20px;
    margin-right: 10px;
}
#postal-code-pt2 {
    width: 40px;
}
label {
    margin-top: 20px;
}

.submit-button {
    height: 40px;
    background-color: #42B987;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.chart {
    position: absolute;
}

button:focus, input:focus {
    outline: none;
}

/*---------- CHECKBOXES ----------*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label::after {
    transform: scale(1) rotateZ(0deg);
}

input[type="checkbox"]:not(:checked) + label::before {
    transform: scale(1) rotateZ(0deg);
}

.custom-circled-checkbox::before {
    content: "";
    background: url("../../../public/undone.svg") center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -40px;
    top: -2px;
    border-radius: 50%;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.custom-circled-checkbox::after {
    content: "";
    background: url("../../../public/done.svg") center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -40px;
    top: -2px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}


.checkbox-group {
    padding: 8px 48px;
    margin: 8px;
}

.checkbox-group label {
    position: relative;
    cursor: pointer;
}

/*---------- !CHECKBOXES ----------*/

