/*---------- CHECKBOXES ----------*/

.checkbox-group {
    padding: 8px 48px;
    margin: 8px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label::after {
    transform: scale(1) rotateZ(0deg);
}

input[type="checkbox"]:not(:checked) + label::before {
    transform: scale(1) rotateZ(0deg);
}

/*---------- !CHECKBOXES ----------*/

/*---------- CIRCLED CHECKBOX  ----------*/

.custom-circled-checkbox::before {
    content: "";
    background: url("../../../public/undone.svg") center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -40px;
    top: -2px;
    border-radius: 50%;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.custom-circled-checkbox::after {
    content: "";
    background: url("../../../public/done.svg") center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -40px;
    top: -2px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

/*---------- !CIRCLED CHECKBOX  ----------*/

/*---------- SQUARED CHECKBOX  ----------*/

.custom-squared-checkbox::before {
    content: "";
    background-color: #F7F8FA;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -44px;
    top: -4px;
    border: 2px solid #E0E1E2;
    border-radius: 10px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.custom-squared-checkbox::after {
    content: "";
    background: url("../../../public/done-square.svg") center;
    background-size: contain;
    width: 27px;
    height: 27px;
    position: absolute;
    left: -44px;
    top: -4px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

/*---------- !SQUARED CHECKBOX  ----------*/

/*---------- RADIO BUTTON  ----------*/

.custom-radio-button {
    padding-left: 40px;
}

.custom-radio-button + .custom-radio-button {
    margin-left: 20px;
}

.custom-radio-button input[type="radio"] {
    display: none;
}

.custom-radio-button span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #1991EB;
    border: 3px solid #1682D3;
    display: block;
    position: absolute;
    left: 0;
    top: -4px;
}

.custom-radio-button span:after {
    content: "";
    height: 9px;
    width: 9px;
    background-color: white;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}

.custom-radio-button input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}

/*---------- !RADIO BUTTON  ----------*/

