.upload-area-before, .upload-area-after {
    width: 100%;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 0.45rem;

    display: flex;
}

.upload-area-before {
    height: 309px;
    justify-content: center;
    align-items: center;
}

.upload-area-after-content {
    width: 100%;
}

.upload-area-after-images {
    padding-left: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 254px);
}

.upload-area-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-input-wrap {
    cursor: pointer;
}

.upload-input-wrap input[type="file"] {
    opacity: 0;
    position: absolute;
}

.instruction {
    display: block;
    text-align: center;
    cursor: pointer;

    color: white;
    border-radius: 100px;
    background-color: #42B987;
    border: 1px solid #707070;
    padding: 5px 25px !important;
}


.file-input, .file-input-footer {
    width: inherit;
    height: inherit;
    opacity: 0 !important;
    position: absolute;
    z-index: 50;
    cursor: pointer;
}

.file-input-footer {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

p {
    color: #024B87;
}

.upload-footer {
    margin: 30px;
}

hr {
    width: 100%;
    border: 1px solid #EAEAEA;
    border-bottom: none;
}

.instruction-footer {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0 15px !important;
}

.upload-input-footer-wrap {
    background-color: #42B987;
    padding: 10px 10px 10px 20px;
    border-radius: 0.45rem;
    display: flex;
    align-items: center;

    cursor: pointer;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.image-container {
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    width: 254px;
    height: 148px;

    display: flex;
    align-items: center;

    margin: 1.5rem 0 1.5rem 0;
}

.image-container:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    /*box-shadow: 0 15px 24px rgba(0,0,0,0.11),*/
    /*0 15px 24px;*/
    box-shadow: 0 0 10px;
}

.image-container:hover .image-overlay {
    opacity: 0.5;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.image-overlay .cross-image {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
}

.image-overlay .rotate-image {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 10%;
    -webkit-transform: translate(-50%, -50%);
}

.image-uploaded {
    width: 100%;
    object-fit: contain;
    max-height: 148px;
}

@media (max-width: 642px) {
    .image-uploaded {
        max-height: 238px;
    }

    .image-container {
        width: 100%;
        height: 288px;
    }

    .upload-area-after-images {
        padding-left: 0;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .upload-footer {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 358px) {
    .image-uploaded {
        max-height: 188px;
    }

    .image-container {
        height: 188px;
    }

    .upload-area-before {
        height: 409px;
    }
}
