@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Open Sans", serif;
}

.register-form {
    width: 100%;
    height: 100vh;

    display: flex;
}

.left-side, .right-side {
    position: relative;
    width: 50%;
}

.left-side{
    background-image: url("../../../../public/register-car-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay {
    background-color: #004B88;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.59;
}

.left-side-content h1, .left-side-content p {
    color: white;
    text-align: center;
}

.left-side, .right-side {
    display: flex;
    align-items: center;
}

.left-side-content {
    align-items: center;
    margin: 30px;
}

.right-side-content {
    margin: 50px;
    justify-content: center;
    width: 100%;
}

.left-side-content, .right-side-content {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.register-button {
    margin-top: 30px;
    height: 40px;
    background-color: #007BFF;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 600;
}

.right-side-content h2 {
    color: #004B88;
}

.right-side-content input {
    width: 100%;
    margin: 10px 0 10px 0;
    height: 40px;
    border: 1px solid #edf0f7;
    padding-left: 10px;

    transition: all 0.3s ease-in-out;

    border-radius: 0.45rem;
}

.right-side-content input:focus {
    border: 1px solid rgb(186, 195, 209);
    outline: none;
    box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
}

.login-button {
    background-color: #42B987;
    border: 1px solid #FFFFFF;
    margin-top: 30px;
    width: 50%;
    height: 40px;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 600;
}

.right-side .image-overlay, .right-side-content p, .right-side-content .login-button {
    display: none;
}

.personal-data {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

.right-side-content p {
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 790px){
    .personal-data {
        display: initial;
    }

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
        justify-content: center;
        background-image: url("../../../../public/register-car-background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right-side .image-overlay {
        display: block;
    }

    .right-side-content h2 {
        color: #FFFFFF;
    }

    .right-side p, .right-side .login-button {
        display: block;
    }

    .login-button {
        margin-top: 0;
        width: 100%;
    }

    .right-side-content input {
        width: 95%;
    }
}

@media screen and (max-width: 403px){
    .right-side-content {
        margin: 25px;
    }
}




