.date-picker {
    position: relative;
    width: 100%;
    min-width: 180px;
    background-color: #FFF;
    display: flex;
    user-select: none;
}

.date-picker .selected-date {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #313131;
}

.date-picker .dates {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    border: 1px solid #edf0f7;
    border-radius: 0.45rem;
    background-color: #FFF;
}

.date-picker .dates.active {
    display: block;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    cursor: pointer;
}

.next-mth {
    border-radius: 0 0.35rem 0 0;
}

.prev-mth {
    border-radius: 0.35rem 0 0 0;
}


.date-picker .dates .month .arrows:hover {
    background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
    background-color: #42B987;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
}

.date-picker .dates .months {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
    grid-auto-flow: column;
}
.date-picker .dates .days .day, .date-picker .dates .months .month {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    cursor: pointer;
    border-radius: 0.45rem;
}

.date-picker .dates .days .day.selected, .date-picker .dates .months .month.selected {
    background-color: #42B987;
    color: white;
}

.calendar-icon {
    width: 20px;
    height: 20px;
}

.calendar-button {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #edf0f7;
    border-right: none;
    background-color: white;
    border-radius: 0.45rem 0 0 0.45rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-button:focus {
    outline: none;
}

.selected-date-input {
    border: 1px solid #edf0f7;
    width: inherit;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 300;

    padding: 9px 12px;

    transition: all 0.3s ease-in-out;

    border-radius: 0 0.45rem 0.45rem 0;
}

.selected-date-input:focus {
    border: 1px solid rgb(186, 195, 209);
    outline: none;
    box-shadow: 0 4px 30px rgb(0 0 0 / 5%);
}

