/*----------------------------- MAIN -----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

* {
    font-family: "Roboto", serif;
}

.container {
    width: fit-content;
    height: fit-content;
    /*border: 2px solid red;*/
    padding: 0;
    margin: 0;
}

.announcement-header {
    min-height: 400px;
    /*border: 2px solid green;*/
    display: flex;
}

.photos-area {
    width: 500px;
    background-color: #E8E8E8;
    border: 1px solid #707070;
    padding-top: 2px;
    height: fit-content;
}

.title-area {
    width: 700px;
    /*border: 2px solid magenta;*/
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 0;
}

.description {
    color: #747474;
    margin-top: 15px;
}

.price {
    color: #024B87;
}

.header-buttons {
    margin-top: 30px !important;
    margin-bottom: 30px;
}

.share-button {
    width: 140px;
    height: 50px;
    border: 2px solid #EBEBEB;
    background-color: #FFFFFF;
    color: #7D7D7D;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 30px;
    cursor: pointer;
}

.buy-button {
    width: 280px;
    height: 50px;
    border: none;
    background-color: #42B987;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.announcement-details-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*border: 2px solid green;*/
    display: flex;
    flex-wrap: nowrap;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 100;
}

.announcement-details {
    margin-top: 30px;
    min-height: 100vh;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    min-width: fit-content;
}

.details-option {
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    border: none;
    border-bottom: 1px solid #E1E1E1;
    cursor: pointer;
}

button {
    outline: none;
}

.details-option.active {
    background-color: #FFFFFF;
    border-bottom: none;
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    color: #074B87;
}

.vehicle-characteristics {
    min-height: 40px;
    /*margin: 30px;*/
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.announcement-details-content {
    padding: 30px;
}

.vehicle-details-list, .vehicle-equipment-list, .vehicle-history-list {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}

.vehicle-details-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". .";
}

.vehicle-details-list li:before, .vehicle-equipment-list li:before, .vehicle-history-list li:before {
    content: none;
    left: 0;
}

.vehicle-details-list li, .vehicle-equipment-list li, .vehicle-history-list li {
    display: flex;
}

.vehicle-equipment-list li {
    color: #7F8FA4;
}

.vehicle-details-content, .vehicle-equipment-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vehicle-details-key {
    color: #707070;
    margin-right: 100px;
}

.vehicle-details-value {
    display: flex;
    font-weight: 500;
}

.static-icon {
    padding-top: 2px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.vehicle-details-value-special {
    display: flex;
    color: #354052;
}

.vehicle-details-subcontent {
    display: flex;
}

.invisible-gap {
    height: 51px;
    position: absolute;
    margin-top: -51px;
}

.vehicle-details {
    position: relative;
}

/*----------------------------- !MAIN -----------------------------*/

/*----------------------------- SLIDESHOW -----------------------------*/

.photos-area img {
    width: 100%;
    object-fit: contain;
    max-height: 300px;
    cursor: pointer;
}

.slideshow-container {
    position: relative;
    margin: auto;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
}

.slideshow-container-extended {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    background-color: #d9d9d9;
}

.slideshow-container-extended img {
    cursor: pointer;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.mySlidesExtended:hover {
    opacity: 0.8;
}

.selected {
    border: 1px solid black;
    z-index: 100;
}

/*----------------------------- !SLIDESHOW -----------------------------*/

/*----------------------------- RESPONSIVE -----------------------------*/

@media only screen and (max-width: 1250px) {
    .photos-area {
        width: 100%;
        border: 1px solid black;
    }

    .title-area {
        width: 100%;
        padding: 15px 0 0 30px;
    }

    .announcement-header {
        min-height: 500px;
        width: 99.7%;
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: fit-content;
        min-height: inherit;
        padding: 0;
        margin: 0;
    }

    .slideshow-container {
        position: relative;
        margin: auto;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .share-button {
        margin: 30px 30px 30px 0;
    }

    .title-area {
        padding: 30px 0 0 0;
    }
}

@media only screen and (max-width: 567px) {
    .header-buttons {
        display: flex;
        margin-bottom: initial;
    }

    .share-button, .buy-button {
        width: 50%;
    }

    .buy-button {
        margin-top: 30px;
    }

    .vehicle-details-key {
        margin-right: 50px;
    }

}

@media only screen and (max-width: 455px) {
    .container {
        width: 100%;
    }

    .vehicle-details-content, .vehicle-equipment-content {
        justify-content: normal;
    }
}

@media only screen and (max-width: 402px) {
    body {
        padding: 0;
    }
}

/*----------------------------- !RESPONSIVE -----------------------------*/

/*----------------------------- FULL SCREEN MODAL -----------------------------*/

#full-screen-image {
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
}

.full-screen-modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.full-screen-modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

.full-screen-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*----------------------------- !FULL SCREEN MODAL -----------------------------*/