.history-view {
    height: fit-content;
}

.history-branch {
    position: relative;
}

.history-unit {
    position: relative;
    margin: 0 0 20px 120px;
    height: fit-content;
    background-color: white;
    border-radius: 0.45rem;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    padding: 10px 20px 10px 20px;
    z-index: 100;
}

.history-text {
    color: #A7A7A7;
}

.history-branch-inner {
    top: 50%;
    width: -webkit-fill-available;
    height: 111%;
    position: absolute;
    border: 1px solid #707070;
    margin-left: 60px;
    border-bottom: none;
    border-right: none;
    z-index: 1;
}

.history-point {
    position: absolute;
    top: -18px;
    left: -18px;
    z-index: 100;
}
