@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: "Poppins", serif;
}

.email-newsletter {
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    padding-bottom: 200px;
}

.email-newsletter .logo{
    object-fit: contain;
    width: 250px;
    margin: 30px;
}

.email-newsletter h1, .email-newsletter h2, .email-newsletter p {
    color: black;
}

.email-newsletter p {
    font-size: 20px;
    font-weight: 400;
}

.email-newsletter-content {
    margin: 0 200px 0 100px;
}

.email-newsletter a {
    text-decoration: none;
    color: #42BA87;
}

.email-newsletter .confirm-button {
    background-color: #42BA87;
    color: white;
    border: none;

    border-radius: 10px;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 50px 15px 50px;
}

.email-newsletter-header {
    width: 100%;
    background-color: #054B86;
}

