@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: "Poppins", serif;
}

.email-newsletter {
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #054B86;
}

.email-newsletter .logo{
    object-fit: contain;
    width: 250px;
    margin: 30px 30px 0 30px;
}

.email-newsletter p {
    font-size: 20px;
    font-weight: 400;

}

.email-newsletter #title {
    font-size: 32px;
    color: #42B987;
}

.title-area {
    display: flex;
    justify-content: center;
}

.content-section {
    display: flex;
}

.content-section .content {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 20px;
}

.content-section .content:first-child {
    border-top-right-radius: 50px;
    background-color: #42B987;
}

.content-section .content .content-title {
    color: #054B86;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
}

.content-section .content p {
    color: white;
}




