.slider-body {
    position: relative;
    z-index: 1;
    height: 8px;
    margin: 0 15px;
}

.slider-body > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #D8D8D8;
}

.slider-body > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    background-color: #42B987;
}

.slider-body > .thumb {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    top: 4px;
    background-color: #42B987;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98,0,238,.1);
    transition: box-shadow .3s ease-in-out;
}

.slider-body > .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}

.slider-body > .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}

.slider-body > .thumb.hover {
    box-shadow: 0 0 0 10px rgba(66, 185, 135,.1);
}

.slider-body > .thumb.active {
    box-shadow: 0 0 0 15px rgba(66, 185, 135,.2);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    -webkit-appearance: none;
}

label {
    color: #024B87;
    font-size: 1rem;
    margin-bottom: -0.5rem;
}

.main{
    width: 100%;
    min-width: 22rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.slider-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: fit-content;
    overflow-wrap: anywhere;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.slider-area {
    position: relative;
}

.slider-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title, .header-value {
    color: #024B87;
    font-size: 1rem;
}

.title {
    color: black !important;
    font-weight: 500;
}

@media (max-width: 768px) {
    /* Tablets */
    .main {
        min-width: 90%;
    }
}

@media (max-width: 358px) {
    /* Smartphones */

    .title, .header-value {
        font-size: 0.7rem;
    }

    label {
        font-size: 0.7rem;
    }

    .slider-body > .thumb {
        width: 16px;
        height: 16px;
        top: 5px;
    }

    .slider-body {
        height: 6px;
    }

}









